{% extends "main/nav.html" %}
{% load widget_tweaks %}


{% block content %}
    <div class="block-content">
        <h4 class="text-center">bio tag form</h4>
        <form method="post" id="login-form" class="myform general-form" action="">
            {% csrf_token %}

            {% for hidden in bio_tag_form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in bio_tag_form.visible_fields %}
                <div class="form-group">

                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field|add_class:'form-control' }}
                    <span class="help- help-message" id="{{ field.auto_id }}_help_text">{{ field.help_text }}</span>
                    {% for error in field.errors %}
                        <span class="error-message">{{ error }}</span>
                    {% endfor %}
                </div>
            {% endfor %}


            <div class="text-center">
                <button type="submit" name="btn" value="Submit" data-target="#confirm-submit"
                        class="btn btn-primary text-center">
                    submit
                </button>
            </div>

            {% if submitted %}
                <h6 class="success-message">
                    * bio tagged successfully
                </h6>
            {% endif %}
        </form>
        <script>
        </script>
    </div>
{% endblock %}
