{% extends "main/nav.html" %}
{% load widget_tweaks %}


{% block content %}
    <div class="block-content">
        <h4 class="text-center">bio bulk prediction form</h4>
        <form method="post" id="login-form" enctype="multipart/form-data" class="myform general-form" action="">
            {% csrf_token %}

            {% for hidden in bio_bulk_tag_form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in bio_bulk_tag_form.visible_fields %}
                <div class="form-group">

                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field|add_class:'form-control' }}
                    <span class="help- help-message" id="{{ field.auto_id }}_help_text">{{ field.help_text }}</span>
                    {% for error in field.errors %}
                        <span class="help- error-message">{{ error }}</span>
                    {% endfor %}
                </div>
            {% endfor %}


            <div class="text-center">
                <button type="submit" name="btn" value="Submit" data-target="#confirm-submit"
                        class="btn btn-primary text-center">
                    send
                </button>
            </div>

            {% if status == 'ok' %}
                <p class="success-message">
                    * bios tagged successfully
                </p>
            {% endif %}
        </form>
        <script>
        </script>
    </div>
{% endblock %}
