{% extends "main/base.html" %}

{% block title %}
{% endblock title %}

{% block navbar %}
    <li class="">
        <a title="predict bio" href="{% url 'main:predict' %}?format=html">predict bio</a>
    </li>

    <li class="">
        <a title="bulk predict bio" href="{% url 'main:bulk_predict' %}?format=html">bulk predict bio</a>
    </li>

    <li class="">
        <a title="tag bio" href="{% url 'main:tag' %}?format=html">tag bio</a>
    </li>

    <li class="">
        <a title="bulk tag bio" href="{% url 'main:bulk_tag' %}?format=html">bulk tag bio</a>
    </li>

    <li class="">
        <a title="test filter" href="{% url 'main:test' %}?format=html">test filter</a>
    </li>

    <li class="">
        <a title="train model" href="{% url 'main:train_model' %}">train model(2 min)</a>
    </li>

    <li class="">
        <a title="load model" href="{% url 'main:load_model' %}">load model(manually)</a>
    </li>


{% endblock navbar %}
{% block content %}{% endblock content %}